---

name: Pipeline dvps

on:
    push:
        branches:
        - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Code
          uses: actions/checkout@v3
        - name: Set Short SHA
          run: |
                echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
        - name: Build Docker Image
          run: |
                docker build -t aalvaropc/dvps-pj:${{ env.SHORT_SHA }} .
        - name: Log in to Docker Hub
          run: |
                echo "${{ secrets.DOCKER_HUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin
        - name: Push Docker Image
          run: |
                docker push aalvaropc/dvps-pj:${{ env.SHORT_SHA }}